@import "./reset";
@import "./base";
@import "./calkBtn";
@import "./calk";

.header {
    padding: 2rem;
    &__title {
        text-align: center;
        color: green;
        font-size: 3rem;
    }
}

.calc-container {
margin-left: auto;
margin-right: auto;
margin-top: 80px;
}

